@import "../omarchy/current/theme/waybar.css";

* {
  /* background-color: @background; */
  /* color: @foreground; */

  background-color: #c1e7bb;
  color: #000000;

  margin-top: 0px;
  margin-bottom: 0px;

  border: none;
  border-radius: 11;
  min-height: 0;
  font-family: 'CaskaydiaMono Nerd Font';
  font-size: 15px;
}

#waybar {
}

.modules-left {
  margin-bottom: 0px;
  margin-left: 0px;
}

.modules-right {
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

#workspaces {
  margin-bottom: 0px;
  margin-left: 17px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button {

}

#workspaces button.empty {
  opacity: 0.4;
}

#custom-power,
#bluetooth{
  margin-right: 17px;
}

#pulseaudio {
  margin-right: 23px;
}

#battery {
  margin-right: 10px;
  margin-left: 0px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-right: 7px;
  padding-left: 5px;

  border: 1px solid #000000;
  border-left: none;
  border-radius: 0 15px 15px 0;
  box-shadow: inset -7px 7px 5px -5px rgba(0, 0, 0, 0.3),
              inset -7px -7px 5px -5px rgba(0, 0, 0, 0.3);
}

#battery.capacity {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-right: 5px;
  padding-left: 7px;

  font-size: 12px;
  min-width: 25px;

  border: 1px solid #000000;
  border-right: none;
  border-radius: 15px 0 0 15px;
  box-shadow: inset 7px 7px 5px -5px rgba(0, 0, 0, 0.3),
              inset 7px -7px 5px -5px rgba(0, 0, 0, 0.3);
}

#network {
  margin-right: 10px;
  margin-left: 0px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-right: 13px;
  padding-left: 3px;

  border: 1px solid #000000;
  border-left: none;
  border-radius: 0 15px 15px 0;
  box-shadow: inset -7px 7px 5px -5px rgba(0, 0, 0, 0.3),
              inset -7px -7px 5px -5px rgba(0, 0, 0, 0.3);
}

#network.net2 {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-right: 5px;
  padding-left: 3px;

  font-size: 11px;
  min-width: 80px;

  border: 1px solid #000000;
  border-right: none;
  border-radius: 15px 0 0 15px;
  box-shadow: inset 7px 7px 5px -5px rgba(0, 0, 0, 0.3),
              inset 7px -7px 5px -5px rgba(0, 0, 0, 0.3);
}

#network.net2 label{
  min-width: 80px;
}

#cpu {
  font-size: 19px;
  margin-right: 10px;
  margin-left: 0px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-right: 20px;
  padding-left: 0px;

  border: 1px solid #000000;
  border-left: none;
  border-radius: 0 15px 15px 0;
  box-shadow: inset -7px 7px 5px -5px rgba(0, 0, 0, 0.3),
              inset -7px -7px 5px -5px rgba(0, 0, 0, 0.3);
}

#cpu.usage {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-right: 0px;
  padding-left: 2px;

  font-size: 11px;
  min-width: 36px;

  border: 1px solid #000000;
  border-right: none;
  border-radius: 15px 0 0 15px;
  box-shadow: inset 7px 7px 5px -5px rgba(0, 0, 0, 0.3),
              inset 7px -7px 5px -5px rgba(0, 0, 0, 0.3);
}

#memory {
  margin-right: 30px;
  margin-left: 0px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-right: 15px;
  padding-left: 0px;

  border: 1px solid #000000;
  border-left: none;
  border-radius: 0 15px 15px 0;
  box-shadow: inset -7px 7px 5px -5px rgba(0, 0, 0, 0.3),
              inset -7px -7px 5px -5px rgba(0, 0, 0, 0.3);
}

#memory.usage {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-right: 0px;
  padding-left: 2px;

  font-size: 11px;
  min-width: 60px;

  border: 1px solid #000000;
  border-right: none;
  border-radius: 15px 0 0 15px;
  box-shadow: inset 7px 7px 5px -5px rgba(0, 0, 0, 0.3),
              inset 7px -7px 5px -5px rgba(0, 0, 0, 0.3);
}

#custom-omarchy {
  margin-left: 15px;
}

#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#custom-expand-icon {
  margin-right: 15px;
}

#tray {
  margin-right: 10px;
  margin-left: 0px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;

  border: 1px solid #000000;
  border-radius: 15px;
}

tooltip {
  padding: 1px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
